node_modules
**/node_modules
dist
**/dist
build
**/build
*.tsbuildinfo
**/*.tsbuildinfo
.env
.env.*
.git
.gitignore
.vscode
.idea
coverage
logs
*.log
.DS_Store
Thumbs.db
docker-compose.yml
.cache
temp
tmp
